@{
    Layout = "_NavbarFooter";
    ViewData["Title"] = "Home";
}

<head>
    <link rel="icon" href="~/images/logo.png">
    <title>Beranda</title>
</head>

<section id="hero-area" style="background-image:url(images/home.jpg); background-repeat:no-repeat; background-size:cover">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span>JAGA MASA SEHAT MU SEBELUM MASA SAKIT MU</span><br>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">JAYA</b>
                                <b>JAYA</b>
                                <b>JAYA</b>
                            </span>
                        </h1>
                    </section>
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                       Rumah Sakit Sehat Selalu Akan Memberikan Pelayanan yang Terbaik
                    </h2>
                    <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right"
                       data-wow-delay=".9s" href="/pasien/create">Register</a>
                </div>
            </div>
        </div>
    </div>
</section>